.icon
{
    border-radius: 50%;
    background-color: #ffff73;
    line-height: 100px;
    font-size: 30px;
    width: 100px;
    height: 100px;
    margin: auto;
}


.box
{
    height: 100px;
border: 2px solid #000;
}

.inbox
{
    background-color: green;
    height: 50px;
    border: 1px solid #ff4554;
}