@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext');

.main_header
{
    margin-top: 5%;
}
a.main_logo
{
    display: block;
    height: 55px;
    width: 150px;
    border-width: 4px;
    border-radius: 2px;
    border-color: #170f1c;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 37px;
    font-weight: 600;
    line-height: 46px;
    text-decoration: none;
    
}
.Color_logo
{
    color: #fc6744;
}

.main_nav
{
    position: relative;
    float: right;
    margin-top: 25px;
}
.burger_menu
{

    position: absolute;
    top: 50%;
    right: 0;
    height: 4px;
    width: 34px;
    background-color: #170f1c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}


.burger_menu:before
{
    position: absolute;
    top: 50%;
    right: 0;
    height: 4px;
    width: 34px;
    background-color: #170f1c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    content: '';
}


.burger_menu:after
{

    position: absolute;
    top: 50%;
    right: 0;
    height: 4px;
    width: 34px;
    background-color: #170f1c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    content: '';
}